.food{
    width: 1400px;
    margin: 0 auto;
    align-items: center;
}
.foodcha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foodBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foodTitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 500;
    padding-left: 20px;
}
.foodTextcha{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 9px;
}
.iconcha{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.foodBtn{
    width: 160px;
    height: 40px;
    margin-right: 40px;
    border: none;
    border-radius: 35px;
    color: white;
    background: red;
    &:hover{
        background: transparent;
        color: red;
        border: 1px solid red;
    }
}
.foodList{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.foodItem{
    margin-left: 3.55px;
    margin-right: 0;
}
.foodSubtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 235px;
}
.foodBoxcha{
    display: flex;
    justify-content: space-between;
    width: 210px;
}
.foodText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 11px;
}