.home{
    width: 200px;
    margin: 0 auto;
   align-items: center;
}
.homeList{
    list-style: none;
    align-items: center;
    padding-left: 0;
}
.homeItem{
    display: flex;
    align-items: center;
    text-align: left;
    &:hover{
        color: red;
        opacity: 1;
    }
}

#i{
    opacity: 0.3;
    font-size: 22px;
    &:hover{
        color: red;
        opacity: 1;
    }
    

}
.homeTitle{
    font-family: 'Mulish',sans-serif;
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
    opacity: 0.3;
    line-height: 15px;
    &:hover{
        color: red;
        opacity: 1;
    }
   
}