.next {
    width: 200px;
    margin: 0 auto;
    align-items: center;
}

.nextList {
    list-style: none;
    padding-left: 0;
    align-items: center;
}

.nextItem {
    display: flex;
    align-items: center;
}

.nextTitle {
    font-family: 'Mulish', sans-serif;
    margin-left: 10px;
    font-weight: 500;
    font-size: 19px;
    opacity: 0.3;
    line-height: 15px;

    &:hover {
        color: red;
        opacity: 1;
    }
}

.nextSubtitle {
    font-family: 'Mulish', sans-serif;
    // margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
    // opacity: 0.3;
    line-height: 20px;
}