.homePage {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    //  border: 1px solid red;
    padding: 20px 5px;
}

.Left {
    overflow-y: scroll;
    height: 100vh;

}

.Right {
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}